[Unit]
Description=alivebot
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/
Environment="PATH=/usr/local/bin/"
ExecStart=/usr/local/bin/run-alivebot.sh
SyslogIdentifier=alive
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
