<center><p>@{{target_account}}! <b>You Are Alive</b> so I just staked 0.1 <b>$ALIVE</b> to your account on behalf of @{{author_account}}. <sub>({{today_gift_count}}/{{max_daily_gifts}})</sub></p>
<p>The tip has been paid for by the <a href="https://www.wearealiveand.social/">We Are Alive Tribe</a> through the earnings on @alive.chat, feel free to swing by our daily chat any time you want. <br /> <img src="https://i.imgur.com/p2WXJLn.png"></p></center>